<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @big_room.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @big_room.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @big_room.end_time %>
</p>

<p>
  <strong>Bookable:</strong>
  <%= @big_room.bookable %>
</p>

<p>
  <strong>Booked:</strong>
  <%= @big_room.booked %>
</p>

<p>
  <strong>Category:</strong>
  <%= @big_room.category %>
</p>

<%= link_to 'Edit', edit_big_room_path(@big_room) %> |
<%= link_to 'Back', big_rooms_path %>
