<div class='col col-lg-4 col-lg-offset-4 col-md-12 col-sm-12 col-xs-12'>
  <div class='panel panel-warning'>
    <div class='panel-heading'>
      <h3 class='text-white'>
        <i class='fas fa-user'></i>&nbsp;&nbsp;Il mio Profilo
        <span class='pull-right'>
          <%= link_to t('devise.shared.links.back'), :back, class: 'btn btn-warning btn-xs' %>
        </span>
      </h3>
    </div>
    <div class='panel-body'>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render 'devise/shared/error_messages', resource: resource %>
      <div class='field'>
        <%= f.label :name %><br />
        <%= f.email_field :name, class: 'form-control' %>
      </div>
      <div class='field'>
        <%= f.label :surname %><br />
        <%= f.email_field :surname, class: 'form-control' %>
      </div>
      <div class='field'>
        <%= f.label :category %><br />
        <%= f.email_field :category, class: 'form-control' %>
      </div>
      <div class='field'>
        <%= f.label :office %><br />
        <%= f.email_field :office, class: 'form-control' %>
      </div>
      <div class='field'>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: 'E-Mail', class: 'form-control' %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>
        <%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email)%>
      </div>
      <% end %>
      <div class='field'>
        <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i><br />
        <%= f.password_field :password, autocomplete: 'nuova-password', class: 'form-control' %>
        <% if @minimum_password_length %>
        <br />
        <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
        <% end %>
      </div>
      <div class='field'>
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control' %>
      </div>
      <div class='field'>
        <%= f.label :current_password %>
        <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i><br />
        <%= f.password_field :current_password, autocomplete: 'current-password', class: 'form-control' %>
      </div>
      <br />
      <div class='actions'>
        <%= f.submit t('.update'), class: 'btn btn-warning btn-sm btn-block' %>
      </div>
      <% end %>
      <hr class='hr-warning' />
      <br />
      <h4 class='text-primary'><%= t('.cancel_my_account') %></h4>
      <p>
        <%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete, class: 'btn btn-primary btn-sm btn-block' %>
      </p>
    </div>
  </div>
</div>