<%= form_with model: small_room, remote: true, class: 'divTableRow', id: dom_id(small_room, 'inline_form') do |form| %>
<div class='divTableCell'>
    <div class='panel panel-success'>
        <div class='panel-heading'>
            <strong>Prenotare?</strong>
        </div>
        <div class='panel-body'>
            <%= form.select :booked, ['SI', 'NO'], :include_blank => false, class: 'form-control' %>
            <br />&nbsp;
            <strong>Categoria:&nbsp;</strong><%= form.collection_select(:category_id, Category.order('position ASC'), :id, :name, {:include_blank => true}, {:class => 'form-control'}) %>
            <br />
            <strong>Prenotatore:&nbsp;</strong><%= form.text_field :booking_person, class: 'form-control' %>
            <br />
            <strong>Motivo:&nbsp;</strong><%= form.text_field :booking_reason, class: 'form-control' %>
            <br />
            <%= button_tag(type: 'submit', class: 'btn btn-success btn-xs btn-block') do %>
            <i class='fas fa-save'></i> SALVA
            <% end %>
        </div>
    </div>
</div>
<% end %>