<h3>
  <%= inline_svg_tag('small_room_logo.svg', size: '90px * 36px', preserve_aspect_ratio: 'xMaxYMax meet') %>
  <strong>
    &nbsp;&nbsp;&nbsp;Saletta Riunioni
  </strong>
</h3>
<hr class='hr-primary'>
<!-- CALENDAR -->
<%= week_calendar events: @small_rooms, :start_day => :monday do |date, small_rooms| %>
<small>
  <strong>
    <%= l(date, format: '%A %d %B %Y') %>
  </strong>
</small>
<% small_rooms.each do |small_room| %>
<div class='simple-calendar'>
  <div class='divTable greyTable'>
    <%= content_tag :div, class: 'divTableRow', id: dom_id(small_room) do %>
    <%= render small_room %>
    <% end %>
  </div>
</div>
<% end %>
<% end %>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>